doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title OH SNAP! (500)
    style
      body {
        margin-top: 25%;
        text-align: center;
        font-family: "arial";
        background-color: black;
        color: white;
      }
      .embarassed {
        color: red;
        text-shadow: 0.1em 0.1em 1.0em red;
      }


body
  h1 Aww snap :(
  h2.embarassed Keeba just encountered an unexpected (and unwanted) error.
  h2 Avi has been notified.
  br
  h2 Cross your fingers and refresh the page...