.container
  .hero-unit(style="text-align:center")
    h1 Keeba makes homework fun.
    br
    p
      | Okay, not really. But it does make it about 42 billion times easier to deal with.
      br
      | How? Glad you asked.
    br
    img.about-image(src="/img/shamwow.jpg")
    blockquote
      p "I thought ShamWow! was cool... until I tried Keeba."
      small Vince "The ShamWow Guy" Offer *
  .row
    .span4
      h2 Smart.
      p
        | Stupidly easy to use and crazy intuitive, Keeba
        | lets you track, prioritize, edit, and manage your homework.
        | No more getting logged out after 20 minutes, refreshing
        | 5 times a night to see if you have new homework, and typing
        | in "@jbha.org".
        br
        br
        | Auto-updating, live syncing, and super efficent &mdash; about the
        | only thing it can't do is do your homework for you.
    .span4
      h2 Fast.
      p
        | Keeba was built from the ground up to be
        b ridiculously 
        | fast. No more need to wait for the slow, ugly, and 
        | clunky homework website to show log you in and then
        | have to check your assignments one by one.
        br
        br
        | Changes happen instantly and without
        | a refresh. Sort of like Facebook except faster.

    .span4
      h2 In sync.
      p
        | Use Keeba from your desktop, your laptop, or your
        | iPad. Changes are applied
        b in real time 
        | to every device you're on. 
        br
        br
        | So when you come home
        | from school after working on the bus, your changes
        | are already there waiting for you. It's like iCloud
        | but it doesn't cost you anything.
  div(style="text-align:center")
    a.btn.btn-primary.btn-large(href="/") K, I'm sold.
    br
    small
      | (Back to the home page)
  br
  br
  small(style="color:gray")
    | * Okay he didn't actually say this. Please don't sue me :)
