.container
  .hero-unit(style="text-align:center")
    h1 I make homework fun.
    br
    p
      | Okay, not really. But I do make it about 42 billion times easier to deal with.
      br
      | How? Glad you asked.
  .row
    .span6
      img.block-icon(src="/img/glyph/cabinet.png")
      h2 Organized.
      p
        | Don't just look at your homework, 
        i do 
        | it. History paper done? Check it off.
        | Math test postponed to Thursday? Move it.
        | JS Teacher emailed you some homework?
        | Add it in. Want to keep track of homework for clubs?
        | Just add a new course.
        br
        br
        | I let you 
        b stop worrying 
        | about finding and managing
        | your homework so you can focus on actually doing it.

    .span6
      img.block-icon(src="/img/glyph/lightbulb.png")
      h2 Smart.
      p
        | I'm stupidly easy to use and crazy intuitive.
        | No more getting logged out after 20 minutes, refreshing
        | 5 times a night to see if you have new homework, and typing
        | in "@jbha.org". I was literally built to 
        b work seamlessly with Barrack's homework website.
        br
        br
        | Auto-updating, live syncing, and super efficent &mdash; about the
        | only thing I can't do is write your paper.
  br
  .row
    .span12(style="text-align:center")
      img(src="/img/screenshot.png")
  br
  .row
    .span6
      img.block-icon(src="/img/glyph/stopwatch.png")
      h2 Fast.
      p
        | I was designed from the ground up to be 
        b ridiculously 
        | fast. No more waiting for the slow, ugly, and 
        | clunky homework website and
        | checking your assignments one by one.
        br
        br
        | Changes happen instantly and without
        | a refresh. Sort of like Facebook except faster and sexier.
    .span6
      img.block-icon(src="/img/glyph/sync.png")
      h2 In sync.
      p
        | Use Keeba from your desktop, your laptop, or your
        | iPad. Changes are applied in 
        b real time 
        | to every device you're on. 
        br
        br
        | So when you come home
        | from school after working on the bus, your changes
        | are already here waiting for you. iCloud wishes it was
        | as fast as I was.
  br
  .row
    .span12(style="text-align:center")
      h1 Testimonials
  br
  .row
    .span12(style="text-align:center")
      h3 "I thought ShamWow! was cool... until I tried Keeba."
      p
      img.about-image(src="/img/shamwow.jpg")
      blockquote
        p
        small Vince "The ShamWow Guy" Offer *
  br
  div(style="text-align:center")
    a.btn.btn-primary.btn-large(href="/")
      i.icon-ok.icon-white
      |  Alright, I'm sold.
    br
    small
      | (Back to the home page)
  br
  br
  small(style="color:gray")
    | * Okay he didn't actually say this. Please don't sue me :)
