.container
  .row
    .span12
      - each post, i in blog.posts
        article(id=i, class="post")
          h2 !{post.title}
          h4 !{post.date}
          p !{post.body}
          footer
            b ~ Avi