hr
footer
  p(style="text-align:center")
    if development_build
      b(style="color: #970707")
        span(style="font-size: 20px;") ☢
        br
        tt Development build @ #{revision}
    else
      | Made with love, care, and sunshine by 
      a(href="mailto:avi.romanoff@jbha.org") Avi. 
      | Revision: 
      b #{revision}