hr
footer
  p(style="text-align:center")
    if development_build
      b
        big
          | ♞
          br
          tt Development build
      br
      br
    | Made with love, care, and sunshine by 
    a(href="mailto:avi.romanoff@jbha.org") Avi. 
    | Locker #2104. Version: 
    b #{version}