doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Homework, simplified.")
    meta(name="author", content="Avi Romanoff")
    title
      block title
        | Keeba
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel="shortcut icon", type="img/png", href="/img/glyph/zap.png")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    block styles
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30720266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img.block-icon(src="/img/glyph/zap-white.png")
          a.brand.brand-bright(target="_self", href="/", data-bypass) Keeba
          .nav-collapse.collapse
            l.nav.pull-left
              li.nav-link
                a(target="_self", href="/", data-bypass) Home
              li.nav-link
                a(target="_self", href="/about", data-bypass) About
              li.nav-link
                a(target="_self", href="/help", data-bypass) Help
              li.nav-link
                a(target="_blank", href="http://keeba-blog.tumblr.com", data-bypass)
                  | News + Blog 
                  span.label.label-success.wiggle(style="margin-left: 5px") New post!
            block navbar
    
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/jquery-ui.min.js')
    script(src='/js/lib/bootstrap.js')
    
    block scripts
    
    block content
    include footer

script(type="text/javascript")
  // Single-page routing + template inheritance == sadface?
  var path = location.pathname;
  if (path.indexOf("/app") != -1) {
    path = "/";
  }
  var link = $("a[href='" + path + "']");
  link.parent().addClass('active');
  // Well, I can cross this off my bucket list now.
  function okc(a){var b=[38,38,40,40,37,39,37,39,66,65],c=function(){c.c=c.c||Array.apply({},b);c.r=function(){c.c=null};return c.c},d=function(b){if(c()[0]==(b||window.event).keyCode){c().shift();if(!c().length){c.r();a()}}else{c.r()}};window.addEventListener?window.addEventListener("keydown",d,false):document.attachEvent("onkeydown",d)}okc(function(){window.location="http://www.somethingawful.com/flash/shmorky/babby.swf"})
