!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Keeba
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel="shortcut icon", type="img/png", href="/img/glyph/zap.png")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30720266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          img.block-icon(src="/img/glyph/zap-white.png")
          a.brand.brand-bright Keeba
          .nav-collapse
            l.nav.pull-left
              li.nav-link
                a(target="_self", href="/", data-bypass) Home
              li.nav-link
                a(target="_self", href="/about", data-bypass) About
              li.nav-link
                a(target="_self", href="/blog", data-bypass) Blog
            if appmode
              ul.nav.pull-right
                li.dropdown(data-dropdown='dropdown')
                  a#sort-dropdown.dropdown-toggle(target='_self', data-toggle="dropdown", data-bypass, href='#')
                    | Options
                    b.caret
                  ul.dropdown-menu
                    li
                      a#toggle-archived(target='_self', href="") Show archived
                    li
                      a#toggle-details(target='_self', href="") Show details
                    li.divider
                    li
                      a#settings(href="settings", data-bypass) 
                        i.icon-wrench
                        |  Settings
                    li
                      a#shortcuts(href="shortcuts", data-bypass) 
                        i.icon-list-alt
                        |  Shortcuts
                    li
                      a#force-refresh(target='_self', href="", data-bypass)
                        i.icon-refresh
                        |  Refresh
                    li.divider
                    li
                      a#logout(target='_self', href='/logout', data-bypass)
                        i.icon-off
                        |  Log out
                        
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/jquery-ui.min.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/lib/bootstrap-datepicker.js')
    if appmode
      // Rather than changing all of the homework HTML links to 
         `_blank` with a regex (which would be pretty messy), I 
         cheat by defaulting to `_blank` and special-casing the 
         site's legitamite, same-page links with `_self`. 
      base(target='_blank')

      // Libraries
      script(src='/socket.io/socket.io.js')
      script(src='/js/lib/moment.js')
      script(src='/js/lib/keymaster.js')
      script(src='/js/lib/underscore.js')
      script(src='/js/lib/backbone.js')
      script(src='/js/lib/backbone-relational.js')
      script(src='/js/lib/backbone-query.js')
      script(src='/js/lib/backbone-iobind.js')
      script(src='/js/lib/backbone-iosync.js')
      script(src='/js/lib/handlebars.js')
      include templates.html
      include modals
    !{body}
    include footer

script(type="text/javascript")
  // Single-page routing + template inheritance => sadface?
  var path = location.pathname;
  if (path.indexOf("/app") != -1) {
    path = "/";
  }
  var link = $("a[href='" + path + "']");
  link.parent().addClass('active');
  // Well, I can cross this off my bucket list now.
  function okc(a){var b=[38,38,40,40,37,39,37,39,66,65],c=function(){c.c=c.c||Array.apply({},b);c.r=function(){c.c=null};return c.c},d=function(b){if(c()[0]==(b||window.event).keyCode){c().shift();if(!c().length){c.r();a()}}else{c.r()}};window.addEventListener?window.addEventListener("keydown",d,false):document.attachEvent("onkeydown",d)}okc(function(){window.location="http://www.somethingawful.com/flash/shmorky/babby.swf"})