#nickname-modal.modal.hide.fade
  .modal-header
    a.close.close-button(data-dismiss="modal") &times;
    h3
      | What shall I call you?
  .modal-body
  .modal-footer
    button.btn.btn-primary(href="#", id="save") Save

#details-modal.modal.modal-wide.hide.fade

#add-assignment-modal.modal.hide.fade
  .modal-header
    a.close.close-button(data-dismiss="modal") &times;
    h3
      | Add assignment
  .modal-body
  .modal-footer
    button.btn.btn-primary(href="#") Add

#add-course-modal.modal.hide.fade
  .modal-header
    a.close.close-button(data-dismiss="modal") &times;
    h3
      | Add course
  .modal-body
  .modal-footer
    button.btn.btn-primary(href="#", id="add") Add course

#edit-course-modal.modal.hide.fade
  .modal-header
    a.close.close-button(data-dismiss="modal") &times;
    h3
      | Edit course
  .modal-body
  .modal-footer
    button.btn.btn-danger(href="#", id="delete", style="float:left", rel="tooltip", data-original-title="There is no undo!") Delete course
    button.btn.btn-primary(href="#", id="save") Save

#edit-assignment-modal.modal.hide.fade
  .modal-header
    a.close.close-button(data-dismiss="modal") &times;
    h3
      | Edit assignment
  .modal-body
  .modal-footer
    button.btn.btn-danger(href="#", id="delete", style="float:left", rel="tooltip", data-original-title="There is no undo!") Delete assignment
    button.btn.btn-primary(href="#", id="save") Save

#failure-modal.modal.hide.fade
  .modal-header
    h3 Aw snap!
  .modal-body
    p
      | I lost the connection to the server. (English: I'm broken.)
      br
      b Refresh the page 
      | and try again. If I break again, 
      a(href='mailto:avi.romanoff@jbha.org') send Avi an email.
  .modal-footer
    a.btn.btn-danger(href='', target='_self', data-bypass) We can still be friends, right?

#feedback-modal.feedback.modal.hide.fade
  .modal-header
    a.close.close-button(data-dismiss="modal") &times;
    h3 Honest Feedback
  .modal-body
    :markdown
      *(I thought you could use a little more room to write...)*

      **Please be honest** with your feedback/suggestions/complaints/ideas/concerns. You could tell me how you
      use me, what you like best, what you dislike, etc.

      I won't think any less of you, I promise.
      Plus it'll help Avi make me even better for next year.
    textarea.input-xlarge(style="width:520px;height:200px;", placeholder="Go on, be honest...", autofocus)
    :markdown
      Have an *awesome* summer, and good luck on your finals! (If you have them.)
  .modal-footer
    .pull-left#wordcount
      b
        span#remaining 0
        | /5000
    button#send-feedback.btn.btn-warning(href="#", disabled) Drop it like it's hot (Send)


#shortcuts-modal.modal.hide.fade
  .modal-header
    a.close.close-button(data-dismiss="modal") &times;
    h3 Keyboard Shortcuts
  .modal-body
    p
      | Here are some keyboard shortcuts you can use to be 
      b even more productive 
      | with me.

    table.table.table-bordered.table-striped
      thead
        tr
          th Shortcut
          th Action
      tbody
        tr
          td
            code c
          td
            | Add course
        tr
          td
            code a
          td
            | Add assignment to current view
        tr
          td
            code shift + a
          td
            | Toggle archived assignments visibility
        tr
          td
            code shift + d
          td
            | Toggle assignment details visibility
        tr
          td
            code shift + r
          td
            | Force refresh
        tr
          td
            code &uarr; &uarr; &darr; &darr; &larr; &rarr; &larr; &rarr; b a
          td
            | ???

    p
      | For obvious reasons, none of these work when
      | editing text.
      
  .modal-footer
    a.btn.btn-primary(data-dismiss="modal") Cool story, bro.