<script id="status-template" type="text/x-handlebars-template">
  <div class="alert alert-{{kind}} alert-app">
    <strong>{{heading}}</strong>
    <span>{{{personalize message}}} {{#if addable}}<a target="_self" href="#" data-bypass class="link-action">Click here to add them.{{/if}}</span>
    {{#if closable}}
      <a class="close" data-dismiss="alert">&times;</a>
    {{/if}}
  </div>
</script>

<script id="sidebar-dates-template" type="text/x-handlebars-template">
  <li class="nav-header">Upcoming</li>
  {{#each dates}}
    <li>
      <a href="dates/{{link}}">{{{remaining start end}}} {{name}} </a>
    </li>
  {{/each}}
</script>

<script id="sidebar-courses-template" type="text/x-handlebars-template">
  <li class="nav-header">Courses</li>
  {{#each courses}}
    <li>
      <a href="courses/{{_id}}"> {{title}} </a>
    </li>
  {{/each}}
  <button class="btn btn-mini btn-success" id="add-course" style="margin-top:5px;">
    <i class="icon-plus icon-white"></i>
    <span>Add </span>
  </button>
</script>

<script id="course-template" type="text/x-handlebars-template">
  <section style="padding-top:0px">
  <h3>
    <span class="course-title">{{title}}</span>
    <input type="text" class="input-medium" style="display:none;" value="{{title}}">
    <small> {{teacher}}</small>
    <input type="text" class="input-medium" style="display:none;" value="{{teacher}}">
    {{#if show_archive_button}}
      <button class="btn btn-mini btn-inverse side-button archive-button" disabled>
        <i class="icon-inbox icon-white"></i>
        <span> Archive Done </span>
      </button>
      <button class="btn btn-mini btn-info side-button edit-button">
        <i class="icon-pencil icon-white"></i>
        <span> Edit Course </span>
      </button>
      <button class="btn btn-mini btn-success side-button add-button">
        <i class="icon-plus icon-white"></i>
        <span> Add Assignment </span>
      </button>
    {{/if}}
  </h3>
    {{#if empty}}
      <div class="alert alert-success">
        <h2 class="alert-heading">Woo-hoo! No assignments to do here!</h2>
        <br>
        <p>
          You&apos;ve completed <strong>{{archived}}</strong> assignments in this course to date. Click <i><b>Options > Show archived</b></i> to show them.
          <br><br>
          Or just go outside and play or something.
        </p>
      </div>
    {{else}}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="2%">Done</th>
            <th width="35%">Title</th>
            <th width="20%">Due Date</th>
            <th width="40%">Details</th>
            <th width="3%">Edit</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    {{/if}}
  </section>
</script>

<script id="dates-template" type="text/x-handlebars-template">
  <section style="padding-top:0px">
  <h3>
    <span class="course-title">{{title}}</span><small> {{{range_date range}}}</small>
    {{#unless empty}}
      {{#if show_archive_button}}
        <button class="btn btn-mini btn-inverse side-button archive-button" {{#if archivable}}disabled{{/if}}>
          <i class="icon-inbox icon-white"></i>
          <span> Archive Done </span>
        </button>
      {{/if}}
    {{/unless}}
    <button class="btn btn-mini btn-success side-button add-button">
      <i class="icon-plus icon-white"></i>
      <span> Add Assignment </span>
    </button>
  </h3>
    {{#if empty}}
      <div class="alert alert-success">
        <h2 class="alert-heading">Woo-hoo! No homework here!</h2>
        <p>
          Go outside and play or something.
        </p>
      </div>
    {{else}}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="2%">Done</th>
            <th width="20%">Title</th>
            <th width="20%">Course</th>
            <th width="20%">Due Date</th>
            <th width="35%">Details</th>
            <th width="3%">Edit</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    {{/if}}
  </section>
</script>

<script id="course-assignment-template" type="text/x-handlebars-template">
  <div style="display:none" data-id="{{_id}}"</div>
  <td name="done" class="done-toggle">
    <input type="checkbox" {{#if done}} checked {{/if}}>
  </td>
  <td>
      <span>{{{keyword title}}} {{title}}</span>
      <input type="text" style="display:none;" value="{{title}}">
  </td>
  <td>
    {{{format_date date}}}
  </td>

  {{#if details}}
    {{#if show_details}}
      <td>{{{details}}}</td>
    {{else}}
      <td><i>Details hidden.</i></td>
    {{/if}}
  {{else}}
    <td><i>No additional information.</i></td>
  {{/if}}
  <td>
    <button class="btn btn-mini button-edit" title="Edit">
      <i class="icon-pencil"></i>
    </button>
  </td>
</script>

<script id="date-assignment-template" type="text/x-handlebars-template">
  <td name="done" class="done-toggle"><input type="checkbox" {{#if done}} checked {{/if}}></td>
  <td>
    <span data-target="title" data-child>{{{keyword title}}} {{title}}</span>
    <input type="text" style="display:none;" data-role="title" data-child value="{{title}}">
  </td>
  <td>
    <span data-target="course_title" data-child>{{course}}</span>
    <input type="text" style="display:none;" data-role="course_title" data-child data-provide="typeahead" data-items="5" data-source="{{courses}}">
  </td>
  <td>{{{format_date date}}}</td>

  {{#if details}}
    {{#if show_details}}
      <td>{{{details}}}</td>
    {{else}}
      <td><i>Details hidden.</i></td>
    {{/if}}
  {{else}}
    <td><i>No additional information.</i></td>
  {{/if}}
  <td>
    <button class="btn btn-mini button-edit" title="Edit">
      <i class="icon-pencil"></i>
    </button>
  </td>
</script>

<script id="edit-course-template" type="text/x-handlebars-template">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Title
        </label>
        <div class="controls">
          <input type="text" autofocus class="input-xlarge" id="title" placeholder="e.g Honors Bio" value="{{title}}">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Teacher
        </label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="teacher" placeholder="e.g Dr. Rabeeya" value="{{teacher}}">
          <span class="help-inline"></span>
        </div>
      </div>
    </fieldset>
  </form>
</script>

<script id="edit-assignment-template" type="text/x-handlebars-template">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
          <input type="text" autofocus class="input-xlarge" id="title" placeholder="e.g Page 419 #1-300 odd" value="{{title}}">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Details</label>
        <div class="controls">
          <textarea type="text" rows="3" class="input-xlarge" id="details" placeholder="e.g Use a calculator for 200-205, and graph everything.">{{details}}</textarea>
          {{#if jbha_id}}
            {{#if details}}
              <span class="help-inline" style="margin-right: 100px">
              <b>note:</b> This assignment came from the school website, so it contains HTML (a computer language). I didn&apos;t convert it to "normal text" because formatting would be lost. Feel free to replace it.
              </span>
            {{/if}}
          {{else}}
            <span class="help-inline"></span>
          {{/if}}
        </div>
      </div>
      {{#unless hard_course}}
        <div class="control-group">
          <label class="control-label">Course</label>
          <div class="controls">
            <select id="course" class="input-xlarge">
              {{{course_options course}}}
            </select>
          </div>
        </div>
      {{/unless}}
      <div class="control-group">
        <label class="control-label">Date</label>
        <div class="controls">
          <input type="text" data-date-format="mm/dd/yy" id="date" class="input-xlarge" placeholder="e.g 4/23/12" value="{{editable_date date}}">
          <span class="help-inline"></span>
        </div>
      </div>
    </fieldset>
  </form>
</script>

<script id="settings-template" type="text/x-handlebars-template">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Nickname</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="nickname" size="30" value="{{nickname}}">
          <span class="help-inline">This doesn&rsquo;t affect anything other than your ego.</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Details by default</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" id="details" {{#if details}} checked {{/if}}>
            <p class="help-inline">This is the just the default when you log in. You can toggle details from the Options menu whenever you want.</span>
          </label>
        </div>
      </div>
    </fieldset>
  </form>
</script>

<script id="home-template" type="text/x-handlebars-template">
  <div style="margin-top:30px; text-align:center;" class="hero-unit well">
    <h1 id="welcome-message">Miss me?</h1><br/>
    <p>
      {{personalize "You know the drill %n, just click on a link to the left."}}
    </p>
    <h1>&larr;</h1>
  </div>
</script>
