extends layout-base

block title
  | Unsupported browser

block content
  .container.centex
    .hero-unit(style="padding: 40px;")
      h1 Houston, we have a problem.
      img(src="/img/apollo.png", style="margin: 15px")
      h2 The browser you're using is old and busted.
      h3 Please use download the latest version one of the supported browsers below.
    .row
      .span4(style="padding-top: 20px")
        i.icon-browser.browser-chrome
        h2 Chrome
          p A lovely, modern browser.
          a.btn.btn-success(href="https://www.google.com/chrome") Get it &raquo;
      .span4(style="padding-top: 20px")
        i.icon-browser.browser-firefox
        h2 Firefox
          p A lovely, modern browser.
          a.btn.btn-warning(href="https://www.mozilla.org/en-US/products/download.html") Get it &raquo;
      .span4(style="padding-top: 20px")
        i.icon-browser.browser-safari
        h2 Safari
          p A lovely, modern browser.
          a.btn.btn-info(href="http://www.apple.com/safari/download/") Get it &raquo;