<div class="modal-header">
  <h3>
    <span class="modal-title">{{title}}</span>
    <small class="modal-date pull-right" style="margin-top: 8px">
      <strong>{{{format_date date}}}</strong>
    </small>
  </h3>
</div>
<div class="modal-body" style="padding:25px; padding-bottom:0px"> {{{details}}} </div>
<div class="modal-footer">
  <button href="#" data-dismiss="modal" class="btn btn-primary">Close</button>
</div>