<form class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label">Title
      </label>
      <div class="controls">
        <input type="text" autofocus class="input-xlarge" id="title" placeholder="e.g Honors Bio" value="{{title}}">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Teacher
      </label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="teacher" placeholder="e.g Dr. Rabeeya" value="{{teacher}}">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <p class="help-block error" style="display:none">Uh oh! Something went wrong, lol.</p>
      </div>
    </div>
  </fieldset>
</form>