<div style="margin-top:30px; text-align:center;" class="hero-unit well">
  <h1 id="welcome-message">Miss me?</h1><br/>
  <p>
    {{personalize "You know the drill %n, just click on a link to the left."}}
  </p>
  <h1>&larr;</h1>
</div>